.text-workshop>h4 , body, .speaker>.col>h6 ,.speaker>.col>p , .col>h6 ,.col>p, #workshop-name {
	 font-family: "Roboto", serif;
}

.top-header, .blog-footer {

	background: radial-gradient(ellipse at right bottom, #2c2f4c 0%, #272946 64%, #0a0b19 121%);
}

.header-top {
	/*background-image: url("../images/dots11.png");*/
	/*opacity: .1;*/
	 background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center; 
    /*opacity: .5;*/
}
.navbar-toggler {
	background-color: #03c9a9 !important;
}
.blog-header-logo, .nav-link, .navlink-a, .footer-text  {
	color: #03c9a9 !important;
}
.blog-header-logo, .navlink-a {
	text-decoration: none;
}
.navlink-a:hover{
	/*font-size: 1.02em;*/
	text-decoration: none;

}
.nav-txt, .card {
	/*background-color: #03c9a9;*/
	/*background: radial-gradient(ellipse at right bottom, #2c2f4c 0%, #272946 64%, #0a0b19 121%);
	color: #ffffff;*/
	/*background-color: transparent;*/
}
/*{
	background-color: transparent;
}
*/
.nav-success {
	color: ;
}
.row {
	margin: 5px;
}
.blog-header-logo {
	font-weight: bold;
}
.card{
	width: 100%;
}
.speaker {
	cursor: pointer;
}
.underline-text  {
	border-bottom: 3px solid  #03c9a9 ;
}
#navbar {
	display: none;
}
@media only screen and (max-width: 758px) {

	.text-workshop>h4 , .text-workshop>p {
		font-size: small;
	}
	#navbar {
		display: block;
	}
	#navbar-main {
		display: none;
	}
	.shadow-none>h6 {
		font-size: 10px;
	}
	  .shadow-none>h5 {
	  	font-size: 13px;
	  	font-weight: bold;
	 }
	 .speaker>.col>h6 {
	 	font-size: 14px;
	 	font-weight: bold;
	 }
	 .speaker>.col>p {
	 	font-size: 12px;
	 }
	 .col>h6 {
	 	font-size: 14px;
	 	font-weight: bold;
	 }
	 .col>p {
	 	font-size: 12px;
	 }
}
@media only screen and (max-width: 574px) {

	#navbar {
		display: block;
	}
	#navbar-main {
		display: none;
	}
	.row {
	margin: 0px;
	}
	.nitimage {
		width: 100px;
		height: 100px;
	}

}
